<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css" />
    <!-- vue js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>

    <div id="app">

        <div class="container">
            <div class="slider-wrapper" tabindex="0">

                <div class="item" v-for="(obj, index) in slides" v-show="index === activeImg">
                    <img :src="obj.image" :alt="obj.title">
                    <div class="text">
                        <h3>{{obj.title}}</h3>
                        <p>
                            {{obj.text}}
                        </p>
                    </div>
                </div>

                <div class="thumbs">
                    <div class="prev" @click="prevButton"></div>
                    <div class="next" @click="nextButton"></div>
                    <div class="thumb" v-for="(obj, index) in slides" :class="activeImg === index ? 'active' : ''">
                        <img :src="obj.image" :alt="obj.title">
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script src="js/script.js"></script>
</body>

</html>